.users {
  background: #fff;
  box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  .card-header {
    color: #222a42;
    padding: 15px 15px 0;
    border: 0;

    .card-title {
      color: #1d253b;
      font-weight: 100;
      margin-bottom: 0.75rem;
      font-size: 1.0625rem;
      line-height: 1.45em;
    }
  }

  .card-body {
    padding: 15px 15px 10px;

    .actions-center {
      text-align: center;
    }

    .align-left {
      text-align: left;
    }

    .ReactTable {
      max-height: calc(100vh - 70px);
    }
  }
}
