.card {
  background: #fff;
  box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &.card-tasks {
    .card-body {
      padding: 15px;

      .actions-center {
        text-align: center;
      }

      .align-left {
        text-align: left;
      }

      .ReactTable {
        max-height: calc(100vh - 495px);
      }

      .table-full-width {
        max-height: calc(100vh - 495px);
        position: relative;
      }

      .table-responsive {
        overflow: scroll;
        padding-bottom: 10px;

        .table {
          margin-bottom: 0;
          border-collapse: collapse;

          .td-actions {
            min-width: 90px;
            padding-right: 15px;
            display: flex;
            justify-content: space-evenly;

            .btn.btn-xs {
              padding-left: 3px;
              padding-right: 3px;
              -webkit-transition: all 0.15s ease-in;
              -o-transition: all 0.15s ease-in;
              transition: all 0.15s ease-in;
              font-size: 12px;
              border-radius: 3px;
              border: 0;

              .icon {
                width: 20px;
                text-align: center;
              }
            }
          }

          td {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: Roboto, Helvetica Neue, Arial, sans-serif;
            font-weight: 400;
          }
        }

        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
          padding: 12px 8px;
          vertical-align: middle;
          border-color: #e3e3e3;
        }
      }
    }
  }

  .card-header {
    color: #222a42;
    padding: 15px 15px 0;
    border: 0;
    background-color: initial;

    .title {
      margin-right: 20px;
      font-weight: 400;
    }

    .card-category {
      margin-bottom: 5px;
      color: #9a9a9a;
      font-weight: 300;
      font-size: 0.75rem;
      text-transform: capitalize;
    }

    .card-title {
      color: #1d253b;
      font-weight: 100;
      margin-bottom: 0.75rem;
      font-size: 1.6875rem;
    }
  }

  &.card-chart {
    overflow: hidden;
  }
}

.btn-xs.btn-simple {
  padding: 3px 5px;
}
