.card.change-password {
    background: #fff;
    box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  
    .card-header {
      color: #222a42;
      padding: 15px 15px 0;
      border: 0;
  
      .card-title {
        color: #1d253b;
        font-weight: 100;
        margin-bottom: 0.75rem;
        font-size: 1.0625rem;
        line-height: 1.45em;
      }
    }
  
    .card-body {
      padding: 15px 15px 10px !important;
  
      .form-group {
        margin-bottom: 30px;
        position: relative;
  
        &.has-danger {
          .form-control {
            border-color: #ffcfcf !important;
            color: #ff3636 !important;
            background-color: hsla(0, 0%, 87%, 0.1) !important;
          }
  
          &::after {
            content: '\f00d';
            color: #ff3636;
          }
        }
  
        &.has-success {
          .form-control {
            border-color: #e3e3e3;
          }
  
          &::after {
            content: '\f00c';
            color: #18ce0f;
          }
        }
  
        &.has-success::after,
        &.has-danger::after {
          font-family: FontAwesome;
          display: inline-block;
          position: absolute;
          right: 20px;
          bottom: 10px;
          font-size: 11px;
          top: 35px;
        }
  
        label {
          font-size: 0.95em !important;
          margin-bottom: 5px;
          color: #9a9a9a !important;
        }
  
        .form-control {
          padding: 10px 18px;
          background-color: transparent;
          border-color: rgba(29, 37, 59, 0.3);
          border-radius: 30px;
          line-height: normal;
          font-size: 0.8571em;
        }
      }
  
      .category {
        text-transform: capitalize;
        font-weight: 400;
        color: #9a9a9a;
        font-size: 0.9em;
      }
    }
  }
  