.card {
  background: #fff;
  box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  &.card-user {
    overflow: hidden;
    min-height: 240px;

    .author {
      text-align: center;
      text-transform: none;
      margin-top: 25px;

      .block {
        position: absolute;
        height: 100px;
        width: 250px;

        &.block-one,
        &.block-two {
          background: linear-gradient(90deg, rgba(225, 78, 202, 0.6) 0, rgba(225, 78, 202, 0));
        }

        &.block-three,
        &.block-four {
          background: rgba(225, 78, 202, 0.6);
          background: linear-gradient(90deg, rgba(225, 78, 202, 0.6) 0, rgba(225, 78, 202, 0));
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
          right: -45px;
        }

        &.block-one {
          -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
          margin-top: -90px;
          margin-left: -50px;
        }

        &.block-two {
          -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
          margin-top: -40px;
          margin-left: -100px;
        }

        &.block-three {
          -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
          margin-top: -70px;
        }

        &.block-four {
          -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
          margin-top: -25px;
        }
      }

      .avatar-container {
        color: #ba54f5;
        font-weight: 300;

        .avatar {
          width: 124px;
          height: 124px;
          border: 5px solid #2b3553;
          border-bottom-color: transparent;
          background-color: initial;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 15px;
          max-width: 100%;
        }

        .title {
          color: #1d253b;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 15px;
          font-size: 0.8125rem;
        }

        .description {
          margin-top: -7px;
          color: #1d253b;
          font-size: 1.14em;
          font-weight: 300;
          margin-bottom: 5px;
        }
      }
    }
  }

  .card-header {
    color: #222a42;
    padding: 15px 15px 0;
    border: 0;

    .title {
      color: #1d253b;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 15px;
      font-size: 0.8125rem;
    }
  }

  .card-body {
    padding: 15px;

    .form-group {
      margin-bottom: 20px;
      position: relative;

      input.form-control {
        padding: 10px 18px;
        background-color: transparent;
        border-color: rgba(29, 37, 59, 0.3);
        border-radius: 30px;
        line-height: normal;
        font-size: 0.8571em;
      }

      &.has-danger {
        .form-control {
          border-color: #ffcfcf !important;
          color: #ff3636 !important;
          background-color: hsla(0, 0%, 87%, 0.1) !important;
        }

        &::after {
          content: '\f00d';
          color: #ff3636;
        }
      }

      &.has-success {
        .form-control {
          border-color: #e3e3e3;
        }

        &::after {
          content: '\f00c';
          color: #18ce0f;
        }
      }

      &.has-success::after,
      &.has-danger::after {
        font-family: FontAwesome;
        display: inline-block;
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-size: 11px;
        top: 35px;
      }

      label {
        font-size: 0.95em !important;
        margin-bottom: 5px;
        color: #9a9a9a !important;
      }

      .react-select {
        &.has-danger {
          .react-select__control,
          .react-select__indicator {
            border-color: #ffcfcf;
            color: #ff3636;
            background-color: hsla(0, 0%, 87%, 0.1);
          }
        }

        .react-select__control {
          border: 1px solid #e3e3e3;
          -webkit-box-shadow: none;
          box-shadow: none;
          background-color: transparent;
          border-radius: 19px;
          min-height: 37px;
          height: 37px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-collapse: separate;
          display: table;
          width: 100%;
          font-size: 0.8571em;
          margin-bottom: 20px;

          .react-select__value-container {
            display: table-cell;
          }

          .react-select__indicators {
            width: 60px;
            padding-right: 10px;
            -ms-flex-align: end;
            align-items: flex-end;
            vertical-align: middle;
            text-align: right;
            display: table-cell;

            .react-select__indicator-separator {
              display: none;
            }

            .react-select__indicator {
              padding: 0;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .card-footer {
    background-color: initial;
    border: 0;
    padding: 15px;

    .btn-primary {
      background: #e14eca;
      background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
      background-size: 210% 210%;
      background-position: 100% 0;
      background-color: #e14eca;
      transition: all 0.15s ease;
      box-shadow: none;
      color: #fff;
      border: none;
      position: relative;
      overflow: hidden;
      margin: 4px 1px;
      border-radius: 0.4285rem;
      padding: 11px 40px;
      font-size: 0.875rem;
      line-height: 1.35em;
    }
  }
}
